.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.scrollable {
    overflow-y: auto;
    height: 80vh;
}

.you {
    color: #107d9f;
    /* font-style: italic; */
}

.win {
    color: green;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
}

.draw {
    font-weight: bold;
}
